header#header-main{

	position:fixed;
  top:0;
  width:100%;
  z-index:100;
  background-color: rgba(255,255,255,0.95);
  		   -webkit-box-shadow: 0px 0px 10px $brand-light;
     -moz-box-shadow: 0px 0px 10px $brand-light;
          box-shadow: 0px 0px 10px $brand-light;
	.navbar-main{
		border: 0px $brand-alternate solid;
		height: 65px;
		margin-bottom: 0px;
		border-bottom: 1px $brand-alternate solid;

		.navbar-container{
		}
		.navbar-brand{
			padding-top: 14px;
			#brand-logo-icon{
				margin-top: -5px;
				height: 40px;
			}
			#brand-logo-text{
				color: white;
				margin-top: -5px;
				margin-left: 5px;
				height:22px;
				.tagline{
					font-style: italic;
					font-size: 12px;
					display: inline !important;
				}
			}
		}
		.navbar-content{
			a{	
				color: white;
			}
			li{
					> a{
					  padding-top: 22px;
					  padding-bottom: 23px;
					}
					> a:hover{
						background-color: white;
						color: $brand-main;
					}
				}
				li {
					border-bottom: 3px $brand-main solid;
					padding-bottom: 11px;
				}
				.btn-join{
					border: 1px $brand-main solid;
					margin-top: 15px;
					margin-bottom: 15px;
					margin-left: 15px;
					padding-top: 5px;
					padding-bottom: 5px;
				}
		}
	}
	.navbar-page{
		border-bottom: 0px $brand-alternate solid;
		border-radius: 0px;
		background-color: white;
		height: 40px;
		margin-bottom: 0px;
		.navbar-container{
			margin-top: 5px;
		}
		.navbar-header{

		}
		.navbar-brand{
			padding-top: 7.5px;
			padding-bottom:10px;
			font-weight: bold;
			#brand-logo-icon{
				height: 40px;
			}
			#brand-logo-text{
				margin-top: -5px;
				margin-left: 5px;
				height:22px;
			}
		}
		
		.navbar-content{

			.navbar-nav{

				min-height: 50px;
				margin-top: -6px;
  			a{
				color: $brand-main;
				// text-transform: uppercase;
				}
				li{

					> a{
					  padding-top: 15px;
					  padding-bottom: 15px;
					}
					> a:hover{
						background-color: $brand-light;
					}
				}
				li.active{
					> a{
						border-bottom: 3px $brand-main solid;
						padding-bottom: 11px;
					}
				}
			}
			.navbar-right{
				margin-right: -150px;
				a{
					text-transform: none;
				}
				a.start-community{
						font-style: italic;
					}
			}
		}
	}
	@media (max-width: 767px){
		.navbar-page{
			.navbar-container{
				margin-bottom: -5px;
    		overflow: hidden;
			}
			.navbar-header{
				display: inline-block;
	  		width: 10%
			}
			
			.navbar-content{
				width: 90%;
				display: inline-block;
				float: right;

				.navbar-nav{
					display: inline-block;
					margin-left: 0px;
					margin-bottom: 0px;
					li{

						display: table-cell;
	  				text-align: right;
					}
				}
			}
		}
	}
}

.gradient{
background: -moz-linear-gradient(0deg, rgba(222,4,86,1) 0%, rgba(123,0,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(222,4,86,1)), color-stop(100%, rgba(123,0,128,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(0deg, rgba(222,4,86,1) 0%, rgba(123,0,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(0deg, rgba(222,4,86,1) 0%, rgba(123,0,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(0deg, rgba(222,4,86,1) 0%, rgba(123,0,128,1) 100%); /* ie10+ */
background: linear-gradient(90deg, rgba(222,4,86,1) 0%, rgba(123,0,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de0456', endColorstr='#7B0080',GradientType=1 ); /* ie6-9 */
}