.container{
	max-width: $max-content-width;
}
body{
	padding-top:135px;
}

.notification{
	height: 50px;
	padding: 15px;
	margin-bottom: 10px;
	margin-top: -20px;
	text-align: center;
}

.alert{
	background-color: #FDE0E7;
}
.notice{
	background-color: #EEFFE5;
}
