<%= title "About" %>
<%= render "pages/about_nav" %>
<div class="page-hero">
	<div class="content">
		Divlist is a crowdsourced database of best practices for hiring and retaining top LGBTQ talent
	</div>
</div>