<% title "All" %>

<% content_for :page_nav_content do %>
	<div class="navbar-content">
	  <ul class="nav navbar-nav">
	    <li>
	      <a class="active" href="#">Popular this week</a>
	    </li>
	    <li>
	      <a href="#">Latest</a>
	    </li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
	  	<li>
	  		<a href="<%= new_resource_path %>" class="start-community">
	  		Share a resource
	  		</a>
	  	</li>
	    <li>
	    	<% #link_for "Join" %>
	    </li>
	  </ul>
	</div>
<% end %>