<article class="post-excerpt">
			<div class="excerpt-content-container">
				<div class="row">
					<div class="col-xs-3 col-md-2">
						<div class="row left">
							<div class="col-sm-6 col-md-6 col-xs-12">
							<div class="post-info">
								<div ng-click="toggleUpvote(post)" class="btn upvotes" data-id="{{post.id}}" ng-class="{upvoted: post.is_upvoted}">
									<span class="upvote-arrow"><i class="fa fa-arrow-up"></i></span>
									<span class="count" data-id="{{post.id}}" >{{post.upvote_count}}</span>
								</div>
								<%# if current_user.present? %>
									<!-- <span class="btn favorite" data-id="{{post.id}}"><i class="fa fa-heart-o fa-2x"></i></span> -->
								<%# end %>
							</div>
							</div>
							<div class="col-sm-6 col-md-6 col-xs-12">
							<a href="https://www.twitter.com/{{post.tweet.twitter_profile.screen_name}}">
							<img class="img-circle profile_photo" src="{{post.tweet.twitter_profile.profile_image_url}}">
							</a>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-sm-9 col-xs-9 content">
						<div><a target="_blank" href="https://www.twitter.com/{{post.tweet.twitter_profile.screen_name}}">{{post.tweet.twitter_profile.name}}</a></div>
						<div class="message" ng-bind-html="autoLinkContent(post.tweet.text)"></div>
					</div>
				</div>
				<a class="source-link" target="_blank" href="{{post.tweet.url}}">View on Twitter</a>				
			</div>
			<div class="gradient bottom-bar"></div>
</article>