<article class="post-excerpt">
			<div class="excerpt-content-container">
				<div class="row">
					<div class="col-sm-1">
					<div class="post-info">
						<div class="btn upvotes" data-id="{{post.id}}">
							<span class="upvote-arrow"><i class="fa fa-arrow-up"></i></span>
							<span class="count" data-id="{{post.id}}" >123</span>
						</div>
						<%# if current_user.present? %>
							<!-- <span class="btn favorite" data-id="{{post.id}}"><i class="fa fa-heart-o fa-2x"></i></span> -->
						<%# end %>
					</div>
					</div>
					<div class="col-sm-2 col-md-1">
					<%= image_tag("profile_photo.png", class: "img-circle profile_photo") %>
					</div>
					<div class="col-md-10 col-sm-9 content">
						<div><a href="#">Ellie Day</a></div>
						<div class="message" ng-bind-html="autoLinkContent(post.content)"></div>
					</div>
				</div>
				<a class="source-link" href="#">View on Twitter</a>				
			</div>
			<div class="gradient bottom-bar"></div>
</article>